.msg{
    color: red;
}

html{
    background-color:azure;
}
button {
    border: none;
    border-radius: 20px;
    background: none;
    cursor: pointer;
    height: 40px;
    width: 100px;
    font-size: 24px;
    text-shadow: 1px 1px 2px plum
}

button:hover {
    background: pink;
}

#releaseForm{
    margin-left: 30%;
    margin-right:30% ;
    background-color:snow;
    text-align: center;
    /* text-align: center; */
    /* display: flex; */
}

#input-form{
    margin-left: 25%;
    text-align: left;
    border-radius: 5%;
    border-color:violet;
    border-width: 500px;
    font-size: 24px;
    color: blueviolet;
    /* text-align: right; */
}

#pic{
    font-size: large;
}

/* 无法到图片边缘 */
* {
    margin: 0;
    padding: 0;
}

.box {
    width: 350px;
    height: 350px;
    margin: 50px;
    border: 1px solid #ccc;
    position: relative;
}

.big {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 360px;
    border: 1px solid #ccc;
    overflow: hidden;
    display: none;
}

.mask {
    width: 175px;
    height: 175px;
    background: rgba(255, 255, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    cursor: move;
    display: none;
}

.small {
    position: relative;
}

img {
    vertical-align: top;
}