a:link {
    color: rgb(141, 223, 141);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(198, 100, 117);
    background-color: transparent;
    text-decoration: none;
}


a:hover {
    color: rgb(222, 93, 93);
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}
