.comment-text {
    display: flex;
    height: 50px;
}

.each-comment {
    display: flex;
}

.username {
    display: flex;
}

.content {
    display: flex;
}

.date {
    display: flex;
}

.likes {
    display: flex;
}